@model ASimmo.Models.TypeClassification

@{
    ViewData["Title"] = "Détails du Type de classification";
}

<h1>Détails du Type de classification</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Libelle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Libelle)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TypeClassificationId">Editer</a> |
	<a asp-action="Index">Retourner à la liste des types des claissifications</a>
</div>
