@model ASimmo.Models.BienImmo

@{
    ViewData["Title"] = "Editer un bien immobilier";
}

<h1>Editer un bien immobilier</h1>

<hr />
<div class="row">
    <div class="col-md-4">
		<form asp-action="Edit">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<input type="hidden" asp-for="BienImmoId" />
			<div class="form-group">
				<label asp-for="Prix" class="control-label"></label>
				<input asp-for="Prix" class="form-control" />
				<span asp-validation-for="Prix" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Surface" class="control-label"></label>
				<input asp-for="Surface" class="form-control" />
				<span asp-validation-for="Surface" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="NombreChambre" class="control-label"></label>
				<input asp-for="NombreChambre" class="form-control" />
				<span asp-validation-for="NombreChambre" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Type" class="control-label"></label>
				<select asp-for="TypeId" class="form-control" asp-items="ViewBag.TypeId"></select>
				<span asp-validation-for="TypeId" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Classification" class="control-label"></label>
				<select asp-for="ClassificationId" class="form-control" asp-items="ViewBag.ClassificationId"></select>
				<span asp-validation-for="ClassificationId" class="text-danger"></span>
				<a asp-controller="classifications" asp-action="Create">Créer une nouvelle classification</a>
			</div>
			<div class="form-group">
				<label asp-for="Adresse" class="control-label"></label>
				<select asp-for="AdresseId" class="form-control" asp-items="ViewBag.AdresseId"></select>
				<span asp-validation-for="AdresseId" class="text-danger"></span>
				<a asp-controller="adresses" asp-action="Create">Créer une nouvelle adresse</a>
			</div>
			<div class="form-group">
				<label asp-for="Image" class="control-label"></label>
				<input asp-for="Image" class="form-control" />
			</div>
			<div class="form-group">
				<input type="submit" value="Enregistrer" class="btn btn-primary" />
			</div>
		</form>
    </div>
</div>

<div>
	<a asp-action="Index">Retourner à la liste des biens immobiliers</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
