@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Confirmation de l'oublie du mot de passe";
}

<h1>@ViewData["Title"]</h1>
<p>
    Veuillez vérifier votre boite email pour pouvoir réinitialiser votre mot de passe.
</p>

