@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Confirmation de la réinitialisation du mot de passe";
}

<h1>@ViewData["Title"]</h1>
<p>
    Votre mot de passe a été réinitialiser, <a asp-page="./Login">Cliquez ici pour se connecter</a>.
</p>
