/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

.navbar {

}
.Hero {
    margin:0;
    margin-top: 60px;
    margin-bottom:30px;
}
.Hero h1 {
    font-size: 58px;
    font-weight: bold;
    color: #1E0E62;
    line-height: 1.1;
    width: 471px;
}

.Hero p {
    font-size: 18px;
    font-weight: normal;
    color: #151439;
    opacity: .40;
    width: 421px;
}

.navbar-light .navbar-nav .nav-link {
    color: #1E0E62;
}

.navbar-nav .nav-link-inscription, .call-to-action {
    color: #fff;
    background: #482BE7;
    display: inline-block;
    border-radius: 100px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
.call-to-action{
    margin-top: 30px;
    padding: 6px 12px;
}
.navbar-nav .nav-link-inscription:hover, .call-to-action:hover {
    color: #fff;
    text-decoration: none;
}

#copy {
    margin: 0;
    margin-top: 1rem;
}

.projects {
    padding: 18px 6px;
    background-color: #2F1893;
}

.projects .call-to-action {
    border: 1px solid white;
    background-color: #2F1893
}

.projects .call-to-action  a{
    color: white;
    text-decoration: none;
}

.projects .call-to-action:hover {
    color: #fff;
    background: #482BE7;
}

.projects .project-body {
    margin-top: 10px;
}

.projects .project-body {
    margin: 30px 0;
}

.projects .project-body a {
    color: #e5e5e5;
    text-decoration: none;
}

    .projects .project-body a:hover {
        color: #482BE7;
    }