@model ASimmo.Models.TypePromoteur

@{
    ViewData["Title"] = "Surppression d'un type de promoteur";
}

<h1>Supression</h1>

<h3>Êtes-vous sûre de vouoir supprimer ce type de promoteur?</h3>
<div>
    <h4>TypePromoteur</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Libelle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Libelle)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="TypePromoteurId" />
        <input type="submit" value="Supprimer" class="btn btn-danger" /> |
		<a asp-action="Index">Retourner à la liste des types de promoteur</a>
    </form>
</div>
