@model ASimmo.Models.Promoteur
@using System.Security.Claims;
@{
    ViewData["Title"] = "Création d'un promoteur";
    var _uId = this.Context.User.FindFirst(ClaimTypes.NameIdentifier).Value;
}

<h1>Créer</h1>

<h4>Promoteur</h4>
<hr />
<div class="row">
    <div class="col-md-4">
		<form asp-action="Create">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="Libelle" class="control-label"></label>
				<input type="text" asp-for="Libelle" class="form-control" />
			</div>
			@if (this.Context.User.IsInRole("Admin"))
			{
				<div class="form-group">
					<label asp-for="User" class="control-label"></label>
					<select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId"></select>
				</div>
			}
			else
			{
				<input type="hidden" value="@_uId" asp-for="UserId" />
			}

			<div class="form-group">
				<label asp-for="Type" class="control-label"></label>
				<select asp-for="TypeId" class="form-control" asp-items="ViewBag.TypeId"></select>
			</div>
			<div class="form-group">
				<label asp-for="Image" class="control-label"></label>
				<input type="text" asp-for="Image" class="form-control" />
			</div>
			<div class="form-group">
				<input type="submit" value="Créer" class="btn btn-primary" />
			</div>
		</form>
    </div>
</div>

<div>
    <a asp-action="Index">Retourner à la liste de promoteurs</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
